
opencv_python_headless==4.7.0.72
numpy==1.22.4
nltk==3.8.1
pandas==1.5.3
tensorflow==2.12.0
joblib==1.2.0
streamlit==1.22.0
Pillow==8.4.0
cloudpickle==2.2.1
pickleshare==0.7.5
jsonpickle==3.0.1
Keras-Preprocessing